body{
    margin: 0;
    font-size:15px;
    line-height: 1.52;
    color:#717f86;
    font-family:'Open',sans-serif;
    font-weight:400;
    overflow-x:hidden;
}
.container-1{
    margin:auto;
    overflow: hidden;
}

.box-1{
    overflow: hidden;
    background-color: rgb(97, 221, 48);
    color:rgb(255, 255, 255);
    border-bottom: tomato 3px solid;
  
}

#name{
    text-decoration: none;
    font-family: fantasy;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1.5px white;
    color: red;
    float: left;
    padding: 0 20px 0 20px;
    
}

.navbar{

    line-height: 2em;
    padding-top: 22px;
    
    text-align: right;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navbar li {
    display:inline;
}

.navbar a {
    color:white;
    text-decoration: none;
    font-size: 17px;
    padding-right: 15px;
}

.navbar a:hover {
    color: rgb(226, 128, 128);
    text-decoration: none;
  }

.currentTab a{
    color: red;
    font-weight: bold;
}
.container-2{
    margin:auto;
    overflow: hidden;
}
.box-2{
    background-color:rgb(85, 168, 1);
    padding: 1px;
    min-height: 100px;
    
}
.box-2 h2 {
    font-weight: 600;
    color:white;
    text-align: center;
    padding: 0;
    margin: 10px;
}
.box-2 h3 {
    line-height: 1px;
    font-weight: 450;
    color:white;
    text-align: center;
    margin: 10px;
}
.box-2 h4 {
    font-weight: 300;
    color:white;
    text-align: center;
    margin: 10px;
}
.container-2 p {
    padding: 1px;
    border: 1px;
    margin: 1px;
}

.food-img {
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    
}

.current-status{
    font-family: arial;
    font-weight: bold;
    background-color:yellow;
    color:black;
    border: 5px solid black;
    width:60%;
    margin:auto;
    padding:10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   text-align: center;

}
.current-status h1 {
    text-align: center;
    color: green;
    font-weight: 900;
    font-size: 50;
    margin-bottom: -3%;
}
#closed-sign {
    text-align: center;
    color: rgb(209, 12, 12);
}

.current-status h2 {
    padding-top: 5%;
    font-size: 30px;
}
.current-status p {
    padding-top: 5%;
    font-size: 20;
}

.phone-img {
    float: left;
    position: relative;
    bottom: 10px;
    width:  100px;
    height: 100px;
    object-fit: cover;
}

.phone-container {
   margin-top: 7%;
   margin-right:7%;
   margin-left: 10%;
   margin-bottom: 5%;

}
.phone-container h2 {
    margin-left: 5%;
}
.phone-container h1 {
    margin: 5%;
    text-align:left;
}



.delivery-container h1 {
   text-align: center;
   font-size: 4vw;
}
.delivery-container a {
    text-decoration: none;
}

.delivery-images {
    display: flex;
    justify-content: center;
}

.delivery-images img{
    width:  200px;
    height: 200px;
}


.grubhub-img {
    margin-right: 15%;
    
}


.doordash-img {
    margin-left: 15%
}

.hours-container {
    display: grid;
    place-items: center;
}


.hours-container img {
    max-width: 100%;
    
}

.copyright {
    padding: 10px;
    font-size: 2vw;
    color: white;
    background-color: orange;
    text-align: center;
}


.class-filter {
    text-align: center;
}

.section-padding {
    padding: 60px 0px;
}

.marb-35 {
    margin-bottom:35px;
}

.header-h{
    font-size: 35px;
    color: #FFB03B;
    font-family: 'Satisfy',sans-serif;
    font-weight: 300;
}

.header-p{
    color: #9699a6;
    font-size:16px;
}

#menu-filters ul li{
    display:inline-block;
    color:#fff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

#menu-filters ul li a {
    padding: 10px 20px;
    font-size: 14px;
    color: #565656;
    border-radius: 0px;
    border: 1px solid #BBBBBB;
    text-decoration: none;
    cursor: pointer;
}

#menu-filters ul li a.active , #menu-filters ul li a:hover{
    background: #FFB03B;
    color: #fff;
    border: 1px solid #FFB03b;

}

.menu-restaurant{
    width: 50%;
    float: left;
    padding: 15px;
    position: relative;
}

.menu-restaurant .menu-title {
    float: left;
    font-family: Montserrat,arial;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff5821;
    pointer-events: none;
   cursor: default;
}

.menu-restaurant .menu-line {
    position:absolute;
    bottom: 6px;
    border-bottom: 1px dotted rgba(0,0,0.3);
    margin-left: .6rem;
    margin-right: .6rem;
}

.menu-restaurant .menu-price {
    font-weight: 600;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-restaurant .menu-subtitle{
    display:block;
    float: left;
    color: #B1B1B1;
    font-size: 1.2rem;
}

.menu-restaurant span.clearfix{
    position: relative;
    display: block;
}


  

.search-container  {
    width:40%;
    margin: 0;
  position: relative;
  top: 50%;
  left: 51%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.search-box{
    width:120%;
    position:relative;
    display:flex;
}


.search {
    width:100%;
    border: 3px solid #FFB03b;
    border-right: none;
    padding: 5px;
    height: 40px;
    outline: none;
    color: #9dbfaf;

}



.saerch:focus{
    color: #000;
    box-shadow: 0 0 5px #FFB03b;
}


.search-btn {
  
    border:1px solid #FFB03b;
    text-align: center;
    color: #FFB03b;
    border-radius: 0 5px 5px 0;
    cursor:pointer;
    font-size: 15px;
}

  
@media  (max-width: 560px) {
    .navbar{
        padding-top: 25%;
        text-align: center;
    }
   
  

    
   
}