.navbar-brand {
    text-decoration: none;
    font-family: fantasy;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-stroke: 1.5px white;
    margin-left: 10px;
}
.navbar-brand img{
    margin-right: 5px;
}
.navbar-light .navbar-brand {
    color: red;
}
.navbar-light:hover .navbar-brand:hover {
    color: red;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-nav {
    font-size: 1.3rem;
}


/*style hours chart */
.business-hours {
    padding: 25px;
}

.business-hours ul {
    margin-left: 0
}

.business-hours li {
    color: #888;
    line-height: 50px;
    border-bottom: 1px solid #333;
    font-size: 0.75rem
}

.business-hours li:last-child {
    border-bottom: none;
}

.business-hours .opening-hours li.today {
    color: #ffac0c;
}

.pull-right {
    float: right;
}



/* styling for accordion */
.card-columns {
    column-count: 3;
}

.card{
    border: 2.3px solid #e6e6e6;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: #2cd679;
    box-shadow: inset 0 -1px 0 rgb(0 4 0 / 13%);
}

.accordion-button:focus {
    z-index: 3;
    border-color: #2cd679;
    outline: 0;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}

.accordion-button {
    font-size: 1.2rem;
    font-weight: bold;
}

.contact .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    height: 100%;
  }
  
  .contact .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #6c665c;
  }
  
  .contact .box h4 {
    font-size: 1.18rem;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #6c665c;
  }
  
  .contact .box h5 {
    color: #746f6f;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  .contact .box:hover {
    background: #198754;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
  }
  
  .contact .box:hover span, .contact .box:hover h4, .contact .box:hover h5 {
    color: #fff;
  }
  